* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* properties of the header, logo and nav buttons to display in a banner of a chosen colour.  */
.header {
    position: fixed;
    padding:10px 20px;
    background-color: #2a607c;
    width:100%;
    height:auto;
    display:inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content:flex-end;
    z-index: 2;
}
/* defining the logo size and colour, setting flex-grow to 2 to set it apart from the navigation options */
.header h1 {
    font-size: 48px;
    color: #ffffff;
    flex-grow: 2;
}
/* the letters "SEO" in the main company logo will have a darker shaded colour for impact */
.seo {
    color: #d9dcd6;
}
/* arranges nagigation buttons in a flex box for spacing and smooth scaling when the window is changed */
.header nav {
    width:auto;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-evenly;
}
/* defining the navigation buttons' colour, size and padding */
.header>nav>a {
    color: #ffffff;
    text-decoration: none;
    padding:10px 20px;
    font-size: 22px;
    flex-grow: 1;
}
/* when hovering over navigation links at the top, the background will change colour to resemble a button */
.header>nav>a:hover {
    background-color:#145271;
    border-radius: 10px;
}

p {
    font-size: 18px;
}

.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position:center;
    z-index: 1;
}
/* defining grid areas as classes to be applied to html elements, note: the sidebar element
is listed under the grid as it contains other elements */
.top{
    grid-area:top;
}

.middle{
    grid-area:middle;
}

.bottom{
    grid-area:bottom;
}

.sidebar{
    grid-area: sidebar;
}
/* defining the grid using the pre-defined grid areas above */
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 74.5% 24.5%;
    grid-template-rows: auto;
    grid-row-gap:15px;
    grid-column-gap:1%;
    grid-template-areas:
    "top sidebar"
    "middle sidebar"
    "bottom sidebar";
    object-fit: contain;
}
/* arranging <article> tags and <img> tags in a flexbox for presentation and scaling */
.flexbox {
    padding: 50px;
    height: 100%;
    background-color: #0072bb;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
/* arranging content inside articles to a flexbox */
.articlebox {
    height: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    order:2;   
}
/* <h2>'s inside sections given a margin to clear <p> tags with font size increased for impact and read-ability,*/
.articlebox h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* properties of images inside main tags (main content areas) */
.main-img{
    display:block;
    padding: 20px;
    max-height: 250px;
}
/* moves anything with this class left inside a flex box */
.move-left {
    order:1;
}
/* moves anything with this class right inside a flex box */
.move-right {
    order:3;
}
/* defining the sidebar and sections inside the sidebar, content inside the sections and the sections themselves
 are both similarly arranged */
.sidebar, .sidebarsection{
    padding: 20px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
/* properties unique to the sidebar */
.sidebar {
    width: 100%;
    height: 100%;
    background-color: #0072bb;
    justify-content: space-between;
}
/* properties unique to the sections inside the sidebar */
.sidebarsection {
    text-align: center;
    color: #ffffff;
    justify-content: center;
}
/* properties of images inside the sidebar */
.sidebar-img {
    display:block;
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.footer {
    font-size: 20px;
    position: relative;
    top:50px;
    padding: 30px;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1130px) {
    .header{
        text-align: center;
    }
    .header nav{
        width:100%
    }
    .header h1 {
        text-align: center;
    }

    .sectionbox h2{
        font-size: 24px;
    }
    .content-img{
        max-height: 150px;
    }
    p {
        font-size:16px;
    }
  } 